<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title></title>


 <!-- Bootstrap -->
<link href="library/bootstrap3/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="library/bootstrap3/css/bootstrap.css" type="text/css"/>
<link rel="stylesheet" href="../../library/bootstrap3/css/bootstrap.css" type="text/css">
<link rel="stylesheet" href="../../library/bootstrap3/css/bootstrap.min.css" type="text/css"/>




<!--script src="http://code.jquery.com/jquery-latest.js"></script-->
<script src="library/bootstrap3/js/bootstrap.min.js"></script>
<script src="js/validation.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<script>
function showByStatus(str)
{
if (str=="")
  {
  document.getElementById("txtHint").innerHTML="";
  return;
  } 
if (window.XMLHttpRequest)
  {// code for IE7+, Firefox, Chrome, Opera, Safari
  xmlhttp=new XMLHttpRequest();
  }
else
  {// code for IE6, IE5
  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  }
xmlhttp.onreadystatechange=function()
  {
  if (xmlhttp.readyState==4 && xmlhttp.status==200)
    {
    document.getElementById("txtHint").innerHTML=xmlhttp.responseText;
    }
  }
xmlhttp.open("GET","getproperties.php?q="+str,true);
xmlhttp.send();
}


function showByType(str)
{
if (str=="")
  {
  document.getElementById("txtHint").innerHTML="";
  return;
  } 
if (window.XMLHttpRequest)
  {// code for IE7+, Firefox, Chrome, Opera, Safari
  xmlhttp=new XMLHttpRequest();
  }
else
  {// code for IE6, IE5
  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  }
xmlhttp.onreadystatechange=function()
  {
  if (xmlhttp.readyState==4 && xmlhttp.status==200)
    {
    document.getElementById("txtHint").innerHTML=xmlhttp.responseText;
    }
  }
xmlhttp.open("GET","getproperties.php?t="+str,true);
xmlhttp.send();
}


/* multi */
// Create empty variables in preparation for the two values from the two dropdown menus
var first; 
var second; 

function firstly(x) { 
// Grab the value from the first dropdown and set it to 'first'
  first = x.value;
    //if (typeof second != 'undefined') { // If 'second' isn't undefined, run the 'callpropertysearch' function with the two variables
      //  callpropertysearch(first, second);
//    } // Otherwise do nothing


    if ((typeof third == 'undefined') && (typeof second == 'undefined')){
        callpropertysearch(first, "", "");}
    else if (typeof third == 'undefined') {
        callpropertysearch(first, second, "");}
      
    else if (typeof second == 'undefined') {
        callpropertysearch(first, "", third);}
    else 
        callpropertysearch(first, second, third);
}

// This is the same function but for the second variable
function secondly(x) {
    second = x.value;
 //   if (typeof first != 'undefined') {
   //     callpropertysearch(first, second);
    //}
    
 
    if ((typeof first == 'undefined') && (typeof third == 'undefined')){
        callpropertysearch("", second, "");}
    else if (typeof first == 'undefined') {
        callpropertysearch("", second, third);}
      
    else if (typeof third == 'undefined') {
        callpropertysearch(first,second, "");}
    else 
        callpropertysearch(first, second, third);
}


// This is the same function but for the second variable
function thirdly(x) {
    third = x.value;
 //   if (typeof first != 'undefined') {
   //     callpropertysearch(first, second);
    //}
    
    
    if ((typeof first == 'undefined') && (typeof second == 'undefined')){
        callpropertysearch("", "", third);}
    else if (typeof first == 'undefined') {
        callpropertysearch("", second, third);}
      
    else if (typeof second == 'undefined') {
        callpropertysearch(first, "", third);}
    else 
        callpropertysearch(first, second, third);

}



// This is the AJAX function that takes two parameters
function callpropertysearch(first, second, third) {
    var xmlhttp;
    if (window.XMLHttpRequest) { // code for IE7+, Firefox, Chrome, Opera, Safari
        xmlhttp=new XMLHttpRequest();
    } else { // code for IE6, IE5
        xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
    }

    xmlhttp.onreadystatechange=function() {
    // if the XMLHttpRequest is successful
      if (xmlhttp.readyState==4 && xmlhttp.status==200)
        {
      // Then populate div id="properties" with the responseText
        document.getElementById("properties").innerHTML=xmlhttp.responseText;
        }
      }

  // Actually send the data using the variables assigned with firstly() and secondly()
    xmlhttp.open("GET",
    "getproperties.php?first="+first+"&second="+second+"&third="+third,true);
    xmlhttp.send();
}
/* multi */

</script>
    
     
     <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      	
        	
      }
    </style>  
    
  
    
    
    
    
</head>
<body>
    <h2> Gaff Seller </h2>
<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Property Admin</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li class="active"><a href="gridproperty.php">Grid Properties</a></li>
      <li class="active"><a href="listproducts.php">List Properties</a></li>
     
      
      
      
      <li><a href="insert.php">Insert Property</a></li>
       <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Search <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="listproductsusingajax.php">Search  (Using AJAX)</a></li>
            <li><a href="search.php">Basic Search</a></li>
         
          
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Photos <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="photos.php">List Photos</a></li>
          
          <li><a href="gridphotos.php">Show Photos</a></li>
          <li><a href="insertphoto.php">Insert Photos</a></li> 
          
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Agents <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="contacts.php">List Agents</a></li>
          <li><a href="insertcontact.php">Insert an Agent</a></li> 
          
        </ul>
      </li>
  
      
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Options <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="counties.php">Counties</a></li>
          <li><a href="housetype.php">Accommodation Type</a></li> 
          
        </ul>
      </li>
    </ul> 
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Config</a></li>
          <li class="divider"></li>
          <li><a href="logout.php">Logout</a></li>
        </ul>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
<!--
 <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Property Website</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="<?php echo $activeHome ?>"><a href="admin.php">Home</a></li>
              <li  class=""><a href="listproducts.php">Properties</a></li>
              <li  class="<?php echo $activeInsert ?>"><a href="insert.php">Insert Property</a></li>
              <li  class="active"><a href="photos.php">Photos</a></li>
              <li  class="active"><a href="insertphoto.php">Insert Photos</a></li>                          
              
              <!--li class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Fields</a>
                <ul class="dropdown-menu" role="menu">
              -->
              <!--li class="active"><a href="counties.php">Counties</a></li>                      
   
              <li class="active"><a href="housetype.php">House Type</a></li>           
              <li><a href="contacts.php">Agents</a></li>                      
                <!--/ul->
              </li>
              
           
              <li  class=""><a href="logout.php">Logout</a></li> 
              
            </ul>
          </div><!--/.nav-collapse ->
        </div>
      </div>
    </div>
    -->



